/* .profileImage {
    width: 250px;
    height: 100%;
    content:url("../images/profile.jpg")
} */

img {
    content:url("../../static/images/1.jpg");
}

nav {
    background-color: #3240a8;
}

.fixed {position: fixed !important; top: 0px; left: 0px; bottom: 0px; background: red;}
